includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - identifier: missingType.iterableValue

    excludePaths:
        - src/helper.php
