includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - '#Negated boolean expression is always false.#'

    excludePaths:
        - src/helper.php

    checkMissingIterableValueType: false
