name: PHP Linting
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@2.0.0
        with:
          preset: laravel
          verboseMode: true
          testMode: false
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "fix: pint"
