name: PHP Linting
on:
  pull_request:

jobs:
  phplint:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout pull request head
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@latest
        with:
          preset: laravel
          verboseMode: true

      - uses: stefanzweifel/git-auto-commit-action@v5
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
        with:
          commit_message: "fix: pint :robot:"
