name: PHP Linting
on:
  pull_request:
  push:
    branches:
      - master
      - 11.x
jobs:
  phplint:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@latest
        with:
          preset: laravel
          verboseMode: true

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "fix: pint :robot:"
